


body {
    display: flex;
    /* flex-direction: column; */
    font-family: Arial, Helvetica, sans-serif;  
}

.left-bar, .right-bar {
    background-color: black;
    width: 250px;
}

button {
    background-color: #3882F6;
    color: white;
}

.heading {
    font-size: 36px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-content: center;
}

.main-image {
    align-self: flex-end;
}

img {
    height: 150px;
    width: 150px;
}

a {
    text-decoration: none;
    
}

a, .subtext {
    color: #E5E7EB;
    font-size: 18px;
} 


ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;

}

.hero-left {
    color: white;
    padding-left: 200px;
    
}

.hero-right {
    padding-right: 200px;
}
