body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;

}

img {
    height: 250px;
    width: 250px;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.hero-left {
    display: flex;
    flex-direction: column;
}
.hero-main {
    display: flex;
    justify-content: space-around;
}