body {
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-around;

}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
 
}

.main-image {
    align-self: flex-end;
}

img {
    height: 150px;
    width: 150px;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.hero-left, .hero-right {
    display: flex;
    flex-direction: column;

}
.hero-main {
    display: flex;
    justify-content: space-around;
}